{{ template "header" .}}
{{ template "nav" .}}

<div class="ui large aligned center aligned stackable grid">
  <div class="row">
    <h2>{{tr "modify_pkg"}}</h2>
  </div>
  <div class="eight wide left aligned column">
  {{if .ShowError }}
    <div class="ui negative small message">
      <p>{{tr "field_is_empty"}}</p>
    </div>
  {{end}}
    <form id="modify-pkg-from" class="ui form" action="/gpnm/package/modify"
          method="post">
      <input type="hidden" name="id" value="{{.Package.Id}}">
      <div class="field">
        <label>{{tr "package_name"}}</label>
        <input type="text" disabled="disabled" value="{{.Package.Name}}">
      </div>
      <div class="field">
        <label>{{tr "root_repo_url"}}</label>
        <input type="text" name="root_repo_url"
               value="{{.Package.RootRepoUrl}}"
               placeholder="Root url of repository(eg: https://github.com/golang/crypto)">
      </div>
      <div class="inline field">
        <div class="ui green submit button">{{tr "submit"}}</div>
      </div>
    </form>
  </div>
</div>

{{ template "footer" .}}
